[data-permanent-placeholder]:valid:required + .permanent-placeholder {
  display: block;
}

.permanent-placeholder {
  position: absolute;
  display: none;
  color: #ccc;
  font-size: 12px;
}

.permanent-h-center {
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}
